# Metrics signal configuration
metrics:
  enabled: true
  host:
    enabled: true
  process:
    enabled: true
  request:
    enabled: true
    buckets: [0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1, 2.5, 5, 10]
  interval: 15s
