# Copyright 2024-2026 Madhukar Beema, Distinguished Engineer. All rights reserved.
# Author: Madhukar Beema, Distinguished Engineer

# Traces signal configuration
tracing:
  enabled: true
  protocols:
    http:
      enabled: true
    grpc:
      enabled: true
    postgres:
      enabled: true
    mysql:
      enabled: false
    redis:
      enabled: false
    mongodb:
      enabled: false
    dns:
      enabled: true
    genai:
      enabled: true

correlation:
  enabled: true
  strategy: pid_tid_timestamp
  window: 100ms
